.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Ekranın altından 20px yukarıda */
    right: 20px; /* Ekranın sağından 20px içeride */
    background-color: #25d366; /* WhatsApp yeşili */
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    z-index: 1000; /* Üstte kalması için */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.whatsapp-icon:hover {
    transform: scale(1.1); /* Hover'da büyüme efekti */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.whatsapp-icon::after {
    content: 'WhatsApp ile İletişime Geçin';
    position: absolute;
    bottom: 60px;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.whatsapp-icon:hover::after {
    opacity: 1;
    visibility: visible;
}
